@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  /* TEXT */
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  /* GRADIENT BACKGROUND*/
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  /* DIVIDERS */
  --light-grayish-blue: hsl(240, 5%, 91%);

  /* FONT SIZE */
  --font-size: 12px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  max-width: 1440px;
  font-family: 'Kumbh Sans', sans-serif;
  background: linear-gradient(var(--soft-violet), var(--soft-blue));
  height: 100%;
  display: grid;
  place-items: center;
}

.container {
  height: 100vh;
  margin: auto;
  width: 90%;
  display: grid;
  place-items: center;
}

.fag {
  position: relative;
  margin-top: 75px;
  width: 90%;
  background-color: #fff;
  border-radius: 20px;
  padding: 14px 14px 25px;
}

.ilustration-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ilustration-container img {
  width: 247px;
  transform: translateY(-113px);
  top: 0;
  position: absolute;
  z-index: 1;
}


.bg-ilustration-mobile {
  transform: translateY(-7px) !important;
}

.info-container h3 {
  text-align: center;
  margin-top: 69px;
  margin-bottom: 35px;
  font-size: 28px;
}

.card {
  align-items: center;
  margin-bottom: 13px;
  padding-bottom: 15px;
  border-bottom: 2px solid var(--light-grayish-blue);
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title .icon {
  transition: transform .6s ease-in-out;
}

.cards-container {
  width: 85%;
  max-width: 300px;
  margin: auto;
}

.card p {
  font-size: var(--font-size);
  cursor: pointer;
  color: var(--dark-grayish-blue);
}

.card .p1:hover, .p2:hover, .p3:hover, .p4:hover, .p5:hover {
  color: var(--soft-red);
}

.card p .active {
  color: #000;
  font-weight: bold;
  font-size: 14px;
}

.ilustration-desktop {
  display: none;
}

.bg-ilustration-desktop {
  display: none;
}

.box-ilustration {
  display: none;
}

.description {
  margin-top: 10px;
  display: none;
}

.active {
  display: block;
}

.bold {
  font-weight: bold;
}

.icon-active {
  transform: rotate(180deg);
}